@font-face {
  font-family: 'Title';
  src: url('../fonts/Benguiat\ Normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Subtitle';
  src: url('../fonts/Literata-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}